.menu{
    position: fixed;
    top:0;
    background-color: rgb(0, 147, 251);
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    overflow: hidden;
}

.imgLogo{
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menuButton{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;
}

.menuButton:focus ~ .frameList, .frameList:hover{
    transform: translateX(0%);
}

.frameList{
    position: fixed;
    background-color: rgb(0, 147, 251);
    top: 70px;
    padding: 15px;
    transform: translateX(-100%);
    transition: 0.4s transform ease-in-out;
}

.frameList > ul {
    width: 160px;
    margin: 0 7px;
    padding: 0 5px;   
}

.frameList > ul > li{
    text-align: center;
    list-style-type:none;
    border-top: 1px dashed black;
    padding: 10px 0;
}

.frameList > ul > li:first-child{
    border: none;
}

.frameList > ul > li > a{
    display:block;
    color:#000;
    border-radius: 10px;
    text-decoration: none;
    padding: 0;
    font-size: 20px;
}

.frameList > ul > li > a:hover{
    color: white;
}